@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
}

body {
    font-size: 1.5rem;
}

:root {
    --cor-azul-educacao: #206eb9;
    --cor-azul-tecnologia: #2de0b9;
    --cor-laranja-humanizacao: #f79321;
    --cor-amarelo-criatividade: #f9be40;
    --cor-branca: #fff;
    --cor-preto: black;
}

a {
    color: var(--cor-branca);
}

/* Cabecalho - Início */

.cabecalho,
.cabecalho-oculto {
    width: 100%;
    background: var(--cor-preto);
    padding: 1rem 0;
}

.cabecalho-oculto {
    display: none;
    height: 12rem;
    transition: all 0.2s;
    overflow: hidden;
}

header.mostrar-cabecalho-oculto {
    height: auto;
    overflow: visible;
}

.cabecalho>div,
.cabecalho-oculto>div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-oculto>div:nth-of-type(1) {
    margin: 0 auto 1rem auto;
}

.cabecalho>div img,
.cabecalho-oculto>div img {
    width: 10rem;
}

.cabecalho>div a,
.cabecalho-oculto>div a {
    font-size: 2.5rem;
    transition: all 0.2s;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;
}

.cabecalho>div nav>span,
.cabecalho-oculto>div nav>span {
    width: 0.2rem;
    height: 3rem;
    border-radius: 1rem;
    display: inline-block;
    background: var(--cor-branca);
}

.cabecalho>div a span,
.cabecalho-oculto>div a span {
    height: 0.2rem;
    border-radius: 1rem;
    width: 0%;
    display: inline-block;
    background: var(--cor-branca);
    transition: all 0.5s;
}

.cabecalho>div a:hover,
.cabecalho-oculto>div a:hover {
    transform: scale(1.1);
}

.cabecalho a{
    text-decoration: none !important;
    color: var(--cor-branca) !important;
}

.cabecalho>div a:hover span,
.cabecalho-oculto>div a:hover span {
    width: 100%;
}

.cabecalho>div nav,
.cabecalho-oculto>div nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cabecalho-oculto>div nav {
    width: 100%;
}

.botao {
    border: 0.2rem solid var(--cor-branca);
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.1);
}

.botao span {
    width: 3.5rem;
    height: 0.3rem;
    background: var(--cor-branca);
    border-radius: 1rem;
    transition: all 0.2s;
}

.botao span.span-um {
    transform: rotate(45deg) translate(1rem, 0.8rem);
}

.botao span.span-dois {
    transform: translateX(20rem);
    opacity: 0;
}

.botao span.span-tres {
    transform: rotate(-45deg) translate(0.8rem, -1rem);
}

.dropdown {
    color: var(--cor-branca);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    height: 4rem;
    font-size: 2.5rem;
    position: relative;
}

.dropdown div {
    flex-flow: column nowrap;
    gap: 2rem;
    font-size: 1rem;
    width: 20rem;
    text-align: center;
    background: var(--cor-preto);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 3rem;
    left: -6rem;
    display: none;
    z-index: 10000000;
}

div.dropdown div.dropdown-mostrar {
    display: flex;
}

.dropdown p {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown p img {
    width: 2rem;
}


/* Cabecalho - Fim */


/* Container - Início */

main{
    min-height: 90vh;
    display: flex;
    background: url('../images/fundo.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.table-wrapper {
    width: 70rem;
    margin: 3rem auto;
    background: var(--cor-amarelo-criatividade);
    padding: 2rem;
}

.table-wrapper>p{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.7rem;
}

.table-title {
    padding-bottom: 1rem;
    margin: 0 0 1rem;
}

.table-title h2 {
    margin: 0.6rem 0 0;
    font-size: 2.2rem;
}

.table-title .add-new {
    float: right;
    height: 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: none;
    min-width: 10rem;
    border-radius: 5rem;
    line-height: 1.3rem;
    background: var(--cor-preto);
    border: 0.2rem solid var(--cor-preto);
}

.container input{
    font-size: 1.5rem !important;
}

.container input::placeholder{
    font-size: 1.5rem !important;
}

.table-title .add-new i {
    margin-right: 0.4rem;
}

table.table {
    table-layout: fixed;
}

table.table tr th, table.table tr td {
    border: 0.2rem solid var(--cor-preto) !important;
}

table.table th i {
    font-size: 1.3rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

table.table th:last-child {
    width: 10rem;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.5rem;
    min-width: 2.4rem;
}

table.table td a.add {
    color: #27C46B;
}

table.table td a.edit {
    color: var(--cor-preto);
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 1.9rem;
}

table.table td a.add i {
    font-size: 2.4rem;
    margin-right: -0.1rem;
    position: relative;
    top: 0.3rem;
}

table.table .form-control {
    height: 3.2rem;
    line-height: 3.2rem;
    box-shadow: none;
    border-radius: 0.2rem;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}

/* Container - Fim */


/* Rodapé - Início */

.rodape {
    width: 100%;
    background: var(--cor-preto);
    padding: 2rem 0;
    color: var(--cor-branca);
    font-size: 1.5rem;
}

.rodape>div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
}

.links a {
    transition: all 0.2s;
    display: inline-block;
}

.links a:hover {
    transform: scale(1.05);
}

.rodape>div img {
    width: 10rem;
}



/* Rodapé - Fim */


@media (max-width: 850px) and (min-width: 550px) {

    .cabecalho {
        display: none;
    }

    .cabecalho-oculto {
        display: block;
    }

    .container-home img,
    .container-sobre-mim img {
        width: 100%;
    }

}

@media (max-width: 770px) {
    html{
        font-size: 50%;
    }
}

@media (max-width: 600px) {

    .cabecalho>div nav>span,
    .cabecalho-oculto>div nav>span {
        display: none;
    }

    html {
        font-size: 35%;
    }

    .cabecalho {
        display: none;
    }

    .cabecalho-oculto {
        display: block;
    }

    .cabecalho-oculto>div nav {
        flex-flow: column nowrap;
    }

    .rodape>div {
        flex-flow: column nowrap;
        gap: 2rem;
        text-align: center;
    }

}

@media (max-width: 440px) {
    html {
        font-size: 20%;
    }
}